body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: -webkit-linear-gradient(#e3dfdf, #FFFFCC);
    background: -moz-linear-gradient(#e3dfdf, #FFFFCC);
    background: linear-gradient(#e3dfdf, #FFFFCC);
    color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.message {
    width: 300px;
    background-color: #FFFFCC;
    color: black;
    min-height: 50px;
    text-align: center;
    font-size: 20px;
    margin: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
    border-bottom: 2px;
    border-left: 2px;
    border-right: 2px;
}

.userName {
    width: 300px;
    background-color: purple;
    color: #FFFFCC;
    height: 25px;
    text-align: center;
    font-size: 20px;
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
}

.messageDiv {
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
}
