@model IEnumerable<Chatter.Models.Chat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<section id="postSection"></section>

<section id="chatSection">


    <button id="getChats" class="btn btn-primary">Get Chats</button>

</section>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#getChats").click(
                function () {
                    $.get("@Url.Action("TestJson","Chats")", function (serverResponse) {
        var jsonTest = JSON.parse(serverResponse);
        console.log(jsonTest);

        $.each(jsonTest, function (inx, val) {
            var userNameClass = ["userName"];
            var h6 = $("<h6>", { id: "h6" + inx, "class": userNameClass });

            var messageClass = ["message"];
            var p = $("<p>", { id: "p" + inx, "class": messageClass });

            var divClass = ["messageDiv"];
            var div = $("<div>", { id: "div" + inx, "class": divClass });

            h6.html("<h6 class=\"userName\">" + val.UserName + "</h6>");
            p.html("<p class=\"message\">" + val.Message + "</p>");
            div.html(h6.html() + p.html());

            $("#postSection").append(div);
            console.log(serverResponse);


        });

    });
                });

        });
    </script>
}

